* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

nav {
    border-color: #343A40;
}

nav ul li {
    float: left;
}